@{
    ViewBag.Title = "Home Page";
}

<button id="btnLoad" type="button" class="btn btn-success">Verileri Yükle</button>
<hr />
<div id="loading" class="alert alert-success" style="display:none">Yükleniyor...</div>
<ul id="list" class="list-group">

</ul>